<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="VConnect\Blog\Api\PostRepositoryInterface" type="VConnect\Blog\Model\PostRepository"/>
    <preference for="VConnect\Blog\Api\Data\PostInterface" type="VConnect\Blog\Model\Post"/>
    <preference for="VConnect\Blog\Api\Data\PostSearchResultsInterface" type="VConnect\Blog\Model\PostSearchResults"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="vconnect_posts_listing_data_source" xsi:type="string">
                    VConnect\Blog\Model\ResourceModel\Post\GridCollection
                </item>
            </argument>
        </arguments>
    </type>
    <virtualType name="VConnect\Blog\Model\ResourceModel\Post\GridCollection"
                 type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">vconnect_blog_posts</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="posts:publish" xsi:type="object">VConnect\Blog\Console\Command\PostsPublish</item>
            </argument>
        </arguments>
    </type>
</config>
